<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <nav class="d-flex justify-content-between">
    <a href="/" class="m-4"><button>回到首頁</button></a>
    <div class="m-4">
      <a href="/About"><button>About</button></a>
      <a href="/Portfolio"><button>Portfolio</button></a>
      <a href="/Contact"><button>Contact</button></a>
    </div>
  </nav>

  {{{body}}}

  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>